/* Allgemeines Layout */
body {
  margin: 0;
  padding: 0;
  font-family: "Indie Flower", cursive;
  color: #222;
  background-image: url("../images/hintergrund.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

/* Navigation */
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 10px;
  display: flex;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(4px);
}

nav li {
  margin: 0 40px;
}

nav a {
  text-decoration: none;
  color: #333;
  font-size: 18px;
  font-weight: bold;
}

nav a:hover {
  color: #000;
  text-decoration: underline;
}

/* Header */
header {
  text-align: center;
  margin: 20px auto 20px;
  max-width: 800px;
  background: rgba(255, 255, 255, 0.7);
  padding: 5px;
  border-radius: 15px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

header h1 {
  font-size: 2.2em;
  margin-bottom: 10px;
}

.info {
  text-align: flex-start;
  max-width: 700px;
  margin-left:  20px;
  font-size: 1.2em;
  line-height: 1.5em;
  background-color: rgba(255, 255, 255, 0.75);
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

/* Galerie */
.gallery {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
  padding: 20px;
}

.photo {
  background: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 15px;
  max-width: 600px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  text-align: flex-start;
}

.bild {
  width: 650px;
  height: auto;
  padding: 20px;
  max-height: 400px;
  max-width: 540px;
  border-radius: 12px;
  margin-bottom: 0px;
}

.photo p {
  font-size: 1.1em;
  margin-bottom: 10px;
}

.bildText {
margin-top: 0px;
}

/* Kommentarbox */
textarea {
  width: 96%;
  height: 70px;
  border-radius: 10px;
  border: 1px solid #ccc;
  padding-left: 8px;
  padding-bottom: 100px;
  font-family: "Indie Flower", cursive;
  font-size: 1em;
  resize: none;
  box-shadow: 0 1px 3px rgba(0,0,0,0.1);
}

/* Wrapper für Textarea + Zähler */
.textarea-wrapper {
  position: relative;
  width: 100%;
}

/* Der Zähler unten rechts */
.char-count {
  position: absolute;
  bottom: 8px;
  right: 14px;
  font-size: 0.85em;
  color: #666;
  pointer-events: none;
}
/*
.char-count {
  font-size: 0.9em;
  color: #444;
  margin-top: 5px;
  display: none ; /* wird gezeigt, wenn Textarea sichtbar */
/*
} 

/* Footer */
footer {
  background-color: rgba(255, 255, 255, 0.6);
  text-align: center;
  padding: 20px;
  margin-top: 50px;
  font-size: 1.1em;
  line-height: 1.4em;
  border-top: 2px solid #eee;
}

/* Kommentar Fenster zeigen */
.show-comment {
  color: #444;
  text-decoration: underline;
  cursor: pointer;
  font-size: 1.1em;
}

.show-comment:hover {
  color: #000;
}

.comment-textarea {
  margin-top: 10px;
}